@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@font-face {
  font-family: DMB;
  src: url("fonts/DMB-bold.ttf");
}

@keyframes titleSlide {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes titleDecoration {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes infoText {
  0% {
    /* width: 0vw; */
    height: 0vh;
  }
  100% {
    /* width: 15vw; */
    height: 8vh;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url("images/index.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
}

#temporary {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url("images/exhibition-temporary.png");
  /* backdrop-filter: blur(0.2rem); */
  background-position-y: -33vh;
}

#permanent {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url("images/exhibition-permanent.png");
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(0 0% 0% / 0.4);
  backdrop-filter: blur(0.4rem);
}

.logo {
  width: 5em;
  margin-left: 1em;
}

.navbar {
  overflow: hidden;
  display: flex;
}

.navbar > li {
  list-style: none;
  padding: 0.3em;
  margin-inline-end: 2em;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-family: "DMB", sans-serif;
  font-weight: 400;
  font-size: larger;
}

.navbar li::after {
  content: "";
  width: 0%;
  height: 0.15em;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
  transform: translateY(80%);
}

.navbar li:hover::after {
  width: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  color: #fff;
  font-family: "DMB", sans-serif;
  font-weight: 400;
  font-size: larger;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  padding: 2em 0.5em 0.5em 3em;
  z-index: 1;
  transform: translateX(-0.5em);
}

.dropdown-content li {
  list-style-type: none;
}

.dropdown-content a {
  float: none;
  text-align: left;
  display: block;
  padding-top: 0.5em;
}

.line {
  display: none;
  position: fixed;
  transform: translate(1.5em, 1em);

  width: 0.25em;
  height: 5.5em;
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .line {
  display: block;
}

.title div {
  position: absolute;
  width: 33vw;
  text-align: center;
  width: 30vw;
  font-size: 13vh;
  font-family: "DMB";
  color: #fff;
  transform: translateX(-400%);
}

#design {
  top: 33vh;
  left: 20vw;
  animation: 2s ease-out 0.3s 1 titleSlide forwards;
}

#museum {
  top: 45vh;
  left: 33vw;
  animation: 2s ease-out 0.2s 1 titleSlide forwards;
}

#brussels {
  top: 57vh;
  right: 25vw;
  animation: 2s ease-out 0.1s 1 titleSlide forwards;
}

.left-text {
  animation: infoText 1.7s ease-out 1.7s forwards;
  overflow: hidden;

  width: 15vw;
  height: 0;
  position: absolute;
  top: 80vh;
  left: 5vw;
}

.right-text {
  animation: infoText 1.7s ease-out 1.7s forwards;
  overflow: hidden;

  width: 15vw;
  height: 0;
  position: absolute;
  top: 21vh;
  right: 6.5vw;
}

.info p {
  font-size: 2vh;
  color: #fff;
}

.title-decoration div {
  opacity: 0;
  position: absolute;
  width: 30vh;
  height: 1vh;
  background-color: #fff;
  animation: 1.5s ease-out 1.5s 1 titleDecoration forwards;
}

.left-line,
.right-line {
  display: flex;
  justify-content: space-between;
  transform: rotate(-45deg);
}

.left-line {
  left: 18vw;
  bottom: 23vh;
}

.right-line {
  right: 20vw;
  top: 31vh;
}

div.circle {
  position: relative;
  bottom: 1vh;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}

.container {
  max-width: 75vw;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.temporary-title {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
  color: #fff;
  font-family: "DMB";
}

.temporary-subtitle {
  color: #fff;
  margin-bottom: 2rem;
}

.temporary-info {
  display: flex;
}

.temporary-description {
  margin-right: 1em;
  margin-bottom: 4em;
  padding-left: 1em;
  text-align: left;
  color: #fff;
  backdrop-filter: blur(0.3rem);
  border-left: #fff solid 2px;
}

.temporary-description p {
  margin-top: 1rem;
}

.temporary-images img {
  margin: 1em;
  width: 30vw;
  border-radius: 5%;
}

.temporary-naming-warning {
  backdrop-filter: blur(0.3rem);
  padding: 0.3em 0em 0.1em 1em;
  border-left: #fff solid 2px;
  color: #fff;
}

.temporary-naming-warning p {
  margin-bottom: 1rem;
}

.temporary-practical {
  backdrop-filter: blur(0.3rem);
  margin-top: 1em;
  color: #fff;
  background-color: rgb(70, 70, 90);
  border-radius: 1.3em;
}

.temporary-practical #practical-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5em;
  border-bottom: #fff solid 0.1em;
}

.practical-info {
  display: flex;
  text-align: center;
}

.practical-info div {
  /* border-top: #fff solid 0.1em; */
  flex: 1 1 0;
  padding: 1em;
}

.practical-info img {
  width: 4vw;
}
