@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@font-face {
  font-family: DMB;
  src: url("fonts/DMB-bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  /* cursor: url("images/logo-DMB-white.svg"), auto; */
}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url("images/index.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #333;
  /* padding: 5px; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(0 0% 0% / 0.4);
  backdrop-filter: blur(0.3rem);
}

.logo {
  width: 5em;
  margin-left: 1em;
}

.navbar {
  overflow: hidden;
  display: flex;
}

.navbar > li {
  list-style: none;
  padding: 0.3em;
  margin-inline-end: 2em;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-family: "DMB", sans-serif;
  font-weight: 400;
  font-size: larger;
}

.navbar li::after {
  content: "";
  width: 0%;
  height: 0.15em;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
  transform: translateY(80%);
}

.navbar li:hover::after {
  width: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  /* text-decoration: none; */
  border: none;
  outline: none;
  background-color: inherit;
  color: #fff;
  font-family: "DMB", sans-serif;
  font-weight: 400;
  font-size: larger;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  padding: 2em 0.5em 0.5em 3em;
  z-index: 1;
  transform: translateX(-0.5em);
  /* border-left: 0.2em solid; */
  /* transition: 2.5s; */
}

.dropdown-content li {
  list-style-type: none;
}

.dropdown-content a {
  float: none;
  text-align: left;
  display: block;
  padding-top: 0.5em;
  /* margin-block-end: 1em; */
}

.line {
  display: none;
  position: fixed;
  transform: translate(1.5em, 1em);

  width: 0.25em;
  height: 5.5em;
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .line {
  display: block;
}
